<%= simple_form_for (@release) do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :artist %>
    <%= f.input :avatar, as: :file, label: "Upload a cover image" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
